In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1879,tt0180073,13500000,7060876,Quills,Geoffrey Rush|Kate Winslet|Joaquin Phoenix|Mic...,Philip Kaufman,There are no bad words... only bad deeds.,"A nobleman with a literary flair, the Marquis ...",124,Drama,Fox Searchlight Pictures|Industry Entertainmen...,11/22/2000,6.4,2000
250,tt0409459,130000000,185258983,Watchmen,Malin Ã…kerman|Billy Crudup|Carla Gugino|Jeffr...,Zack Snyder,Justice is coming to all of us. No matter wha...,In a gritty and alternate 1985 the glory days ...,162,Action|Mystery|Science Fiction,Paramount Pictures|DC Comics|Lawrence Gordon P...,3/5/2009,6.8,2009
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007
847,tt1726669,10000000,3665069,Killer Joe,Matthew McConaughey|Emile Hirsch|Thomas Haden ...,William Friedkin,A Totally Deep-Fried Texas Redneck Trailer Par...,A cop (Matthew McConaughey) who moonlights as ...,102,Drama|Thriller,Voltage pictures|Worldview Entertainment|ANA M...,9/10/2011,6.3,2011
267,tt1067106,200000000,325233863,A Christmas Carol,Gary Oldman|Jim Carrey|Steve Valentine|Daryl S...,Robert Zemeckis,Season's Greedings,Miser Ebenezer Scrooge is awakened on Christma...,96,Animation|Drama,Walt Disney|ImageMovers,11/4/2009,6.6,2009

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:
data.budget.max()
data.query ('budget == 380000000')

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения
data.sort_values(by='budget').tail(1)

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
data['runtime'].max()
data.query ('runtime == 214')   # Gods and Generals
answers['2'] = 'Gods and Generals (tt0279111)'

In [0]:
data.sort_values(by='runtime').tail(1)
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
data['runtime'].min()
data.query ('runtime == 63')   
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [0]:
data.describe()   
answers['4'] = '109.658549'   # approx = 110

# 5. Каково медианное значение длительности фильмов?

In [0]:
data.describe()   
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data['profit'] = data['revenue'] - data['budget']
data.profit.max()

summary_data = data.copy()   # Добавляем столбец profit в текущий df = data
summary_data['profit'] = data['profit']
summary_data

summary_data.sort_values(by='profit').tail(3)   # sort by profit and display past 5 str
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [0]:
summary_data.sort_values(by='profit')   
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
data.describe() 
data.query ('revenue > budget').count()   
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
year_2018 = data[data.release_date.str.contains('2008', na=False)] 
year_2018.sort_values(by='revenue').tail(3)  
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
years = summary_data[summary_data.release_date.str.contains( (('2012') or ('2013') or ('2014')), na=False)] 
years.head(3) 
years.sort_values(by='profit').head(5) 
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().idxmax() 
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
directors = pd.Series(data.director.str.split('|').sum()).value_counts()
for director in directors.index:
    directors[director] = data['revenue'][data['director'].map(lambda x: True if director in x else False)].sum()
directors.sort_values()
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
pd.Series (data[data.genres.str.contains('Action')].director.str.cat(sep='|').split('|')).value_counts()
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
data.cast=data.cast.str.split('|', expand=True)
data[data['release_year']==2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts()
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
from collections import Counter
c = Counter()

Cage_data = data[data['cast'].str.contains('Nicolas Cage', regex=False) == True]  
Counter(Cage_data.genres.str.cat(sep='|').split('|'))
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
Paramount_df = data[data.production_companies.str.contains('Paramount Pictures', regex=False) == True].copy()
#Paramount_df

Paramount_df.profit.min()
data.query ('profit == -64831034') 
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

data.groupby(['release_year'])['revenue'].sum().idxmax()
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [1]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

warner_df = data[data.production_companies.str.contains('Warner Bros', regex=False) == True]
#warner_df
warner_df.groupby(['release_year'])['profit'].sum().idxmax()
answers['20'] = '2014'

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data_dates.apply(lambda x: int(x[0]))  # make column with month
data.month.value_counts().sort_values()
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data_dates.apply(lambda x: int(x[0]))  # make column with month
sort_df = data.month.value_counts().sort_values()
sort_df[6] + sort_df[7] + sort_df[8]
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data_dates.apply(lambda x: int(x[0]))  # make column with month
data[data['month'].isin(['12','1','2'])].director.str.split('|').value_counts()
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
data['len_title'] = data.original_title.apply(lambda x:len(x)) #добавили столбец с длиной названий
new = (data.assign(production_companies = data['production_companies'].str.split('|'))
       .explode('production_companies')
       .groupby('production_companies')
       ['len_title']
       .sum().sort_values().index[-1])
display(new)
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
data['len_overview'] = data.overview.apply(lambda x:len(x)) #добавили столбец с длиной описаний
new = (data.assign(production_companies = data['production_companies'].str.split('|'))
       .explode('production_companies')
       .groupby('production_companies')
       ['len_overview']
       .mean().sort_values().index[-1])
display(new)
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
data.info()  # узнали количество фильмов всего: 1889 фильмов. То есть 1% фильмов это 1889/100 ==19 фильмов
data[(data['vote_average'] <= 8.1)].sort_values(by='vote_average').tail(18) # выбираем последние 19 фильмов с максимальным рейтингом
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
from itertools import combinations
combs = [] 
for cast in data.cast.str.split('|'):
    combs.extend(combinations(cast, 2))
pd.Series(combs).value_counts().head(5)

answers['26'] = 'Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 2

In [ ]:
mov_acts_comb = [] 
for cast in data.cast.str.split('|'):
    mov_acts_comb.extend(list(combinations(cast, 2)))
mov_acts_pair = pd.Series(mov_acts_comb).value_counts()
mov_acts_pair.head(5)

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)